.divContainer {
    display:flex;
    flex-wrap:wrap;
    /* border: 1px solid white; */
    margin:auto;
    /* margin-top: 40px; */
    padding-top: 35px;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    /* width:140vh; */
    height:105vh;
    align-content:center;
    justify-content:center;
    border-radius: 15px;
    box-sizing: content-box;
    
}

.divCard {
    transition: transform 0.3s;
}

.rotate {
transform: rotateY(180deg);
transition: transform 0.4s;

}

.image {
    width:100px;
    height:110px;
    border-radius:10px;
    margin:1px;
    transition: 0.2s;
    border:1px solid black;
    box-sizing: border-box;
}

.image:hover {
    box-shadow:1px 1px 7px 2px rgb(243, 191, 223);

}