.divTateti{
  background-color: black;
  /* width: 100%; */
  height: max-content;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
  text-justify: center; 
  color: white;
  border: 1px solid black;
}


.table {
    width: 90px;
    height: 90px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    /* font-size: 50px; */
  }

  .buttonGame {
    width: 100px; 
    min-height:80px;
    background:white;
    margin: 2px;
    border: 3px solid rgb(40, 148, 139);
    outline: none;
    user-select: none;
    font-size:35px;
  }

  .buttonVolverTateti{
    outline: none;
    border: 1px solid lightcoral;
    background-color: black;
    color: white;
    padding: 10px 20px;
    
    border-radius: 8px;
    margin: 4px;
    transition: all 0.3s;
  }

  .buttonVolverTateti:hover {
    box-shadow: 1px 2px 2px 1px rgba(240, 128, 128, 0.5);
    background-color: rgb(29, 28, 28);

  }

  /* .buttonWinner {
      /* color:white; */
      /* background-color:black; */
      /* box-shadow:1px 1px 3px 1px yellow; */
  /* } */