.divContainerGenerala{
    user-select: none;
    /* height: 0vh; */
    padding: 20px;
}
.tabla {
    transition: all 1s;
    
}

th {
    border: 1px solid white;
    padding: 8px;
}


td {
    border : 1px solid white;
    padding: 10px;
    height: 23px;
}

.cabeceraJugador {
    transition: all 1s;
}
/* 
.tablaFija {
    min-width: 180px;
} */

