html, body{
    margin:0;
  }

.divContainerGenerala{
    background-color: #000000;
    color: white;
    min-width:max-content;
    user-select: none;

    /* flex-direction: column; */
    /* height: 100vh; */
    /* justify-content: center; */
    /* justify-items: center; */

}
.tabla {
    transition: all 1s;
    margin: 0;
    border: none;
}

th {
    border: 1px solid white;
    padding: 2px;
    height: 26px;
}

tr{
    height: 40px;
}

td {
    border : 1px solid white;
    min-height: 30px;
}

.cabeceraJugador {
    height: 26px;
    transition: all 1s;
}
 
.tablaFija {
    min-width: max-content;
    margin-left: 1px;
    font-size: 16px;
    height: 350px;
}

select {
    background-color: transparent;
    outline: none;
    border:none;
    color:white;
    text-align: center;
}

option {
    color:white;
    background-color: black;
}

.jugadoresDiv {
    display: flex;

    min-width: max-content;
}

.buttonComenzarJuego {
    outline: none;
    background-color: rgb(112, 208, 52);
    border-radius: 85px 0 85px 0;
    color: rgb(8, 7, 7);
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 0px 9px 5px rgb(19, 181, 7);
}