.divContainerGenerala{
    background-color: black;
    color: white;
    align-content: center;
    min-width:max-content;
    user-select: none;
    display: flex;
    /* padding: 0px 20px 0 20px; */
}
.tabla {
    transition: all 1s;
    
}

th {
    border: 1px solid white;
    padding: 2px;
}


td {
    border : 1px solid white;
    /* padding: 10px; */
    height: 23px;
}

.cabeceraJugador {
    transition: all 1s;
}
 
.tablaFija {
    min-width: max-content;
    margin-left: 1px;
    font-size: 14px;
}

select {
    background-color: transparent;
    outline: none;
    border:none;
    color:white;
    text-align: center;
}

option {
    color:white;
    background-color: black;
}

.jugadoresDiv {
    display: flex;
    min-width: max-content;
}